@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.input {
  color: variables.$color-palette-white;
  width: 100%;
  border-radius: 8px;
  background-color: inherit;
  border: none;
}

.input:focus {
  border: none;
  outline: none;
}

.input:hover {
  border: none;
  outline: none;
}