@use 'variables';
@use 'fonts';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
div[id='root'] {
  display: flex;
  flex-direction: column;
  border: 0;
  overflow-x: hidden;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: variables.$font-roboto;
}

body {
  margin: 0 auto;
  background-color: variables.$color-palette-black;;
  padding: 0;
  color: variables.$color-palette-white;
}

#root {
  width: 100dvw;
  display: flex;
  align-items: center;
  height: 100dvh;
}

@media (max-width: 1250px) {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  box-shadow: none;
  cursor: pointer;
}

input {
  outline: none;
}

input:focus {
  outline: none;
  border: 1px solid variables.$color-palette-blue;
}

input:hover {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

img {
  max-width: 100%;
}
